{
  "printWidth": 100,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "none",
  "quoteProps": "preserve",
  "semi": false,
  "importOrder": [
    "^(preact|(preact)/(.*)$)",
    "^@preact/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
