{
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 95,
  "singleQuote": true,
  "bracketSpacing": false,
  "semi": false,
  "importOrder": [
    "^preact|^(preact|@preact)/(.*)$",
    "^(@apollo)/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^api/(.*)$",
    "^state/(.*)$",
    "^hooks/(.*)$",
    "^lib/(.*)$",
    "^(common|utilities)/(.*)$",
    "^types/(.*)$",

    "^containers/(.*)$",
    "^components/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "\\.(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
