{
  "printWidth": 80,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "importOrder": [
    "^(preact|preact)/(.*)$",
    "^@preact/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "^(.*\\.s?css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
