<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%- appName %></title>

    <meta property="title" content="<%- appName%>" />
    <meta
      name="description"
      content="Web chat based on Preact ( Fast 3kB alternative to React with the same modern API )"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="images/svg+xml" href="/icons/preact.svg" />
    <link rel="manifest" id="the-manifest-placeholder" href="/manifest.json" />
    <meta name="theme-color" content="#ffffff" />

    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/images/icon-192x192.png"
    />

    <lin rel="canonical" href="<%- appUrl%>" />

    <meta name="keywords" content="Preact, react, web chat, spa" />
    <meta name="google" content="notranslate" />
    <meta name="mobile-web-app-title" content="<%- appName %>" />
    <meta name="apple-mobile-web-app-title" content="<%- appName%>" />

    <!-- open graph -->
    <meta property="og:title" content="<%- appName%>" />
    <meta
      name="og:description"
      content="Web chat based on Preact ( Fast 3kB alternative to React with the same modern API )"
    />
    <meta property="og:url" content="<%- appUrl%>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/banner.jpg" />
    <meta property="og:site_name" content="<%- appName%>" />

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="<%- appName%>" />
    <meta
      name="twitter:description"
      content="Web chat based on Preact ( Fast 3kB alternative to React with the same modern API )"
    />
    <meta property="twitter:url" content="<%- appUrl%>" />
    <meta property="twitter:type" content="website" />
    <meta property="twitter:image" content="/images/banner.jpg" />
    <meta name="twitter:image:alt" content="<%- appName%>" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
