.calendar-modal {
  width: 450px;

  .time-picker {
    margin-top: 10px;
  }
}

.calendar-button {
  margin-inline: 8px;
}
.calendar-month {
  position: relative;
  // padding-left: 15px;
  // margin-left: 15px;
  width: 100%;
  min-height: 30px;
  &__inner {
    position: absolute;
  }
}

.calendar-item {
  padding: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  // cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include responsive(mobile) {
    justify-content: flex-start;
  }

  &__date {
    border-radius: 50%;
    padding: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: var(--c-ripple);
    }

    @include responsive(mobile) {
      padding: 15px;
    }
  }

  /** Motificators **/
  &--today {
    color: var(--c-primary);
    font-weight: 500;
  }
  &--selected > &__date {
    background-color: var(--c-primary);
    color: var(--c-white);
    &:hover {
      background-color: var(--c-primary-hover) !important;
    }
  }
  &--not-current > &__date {
    opacity: 0.5;
  }
  &--not-in-range > &__date {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: initial;
    }
  }
}

.calendar-weekdays {
  width: 100%;
  justify-content: center;
  display: flex;

  .calendar-weekday {
    font-weight: 500;
    width: auto;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
  }
}

.calendar-wrapper {
  position: relative;
  overflow: hidden;
  height: 340px;
}
.calendar-grid {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  height: 340px;
}
