.chat-info {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .subtitle {
    color: var(--c-font-secondary);
    font-size: 14px;
    text-align: center;
  }

  .members-count {
    color: var(--c-font-secondary);
  }
}
