.CreateChat {
  &-Button {
    width: 54px;
    height: 54px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    .FloatButton {
      right: 0;
      bottom: 0;

      & .Icon {
        position: absolute;
      }
    }

    @include withAnimations {
      &:not(.open) {
        & .Icon-close {
          animation: hide-icon 0.4s forwards ease-out !important;
        }
        & .Icon-editFilled {
          animation: show-icon 0.4s ease-out !important;
        }
      }
      &.open {
        & .Icon-close {
          animation: show-icon 0.4s ease-out !important;
        }
        & .Icon-editFilled {
          animation: hide-icon 0.4s forwards ease-out !important;
        }
      }
    }
    &:not(.open) {
      & .Icon-close {
        display: none;
      }
      & .Icon-editFilled {
        display: initial;
      }
    }
    & .Icon-close {
      display: initial;
    }
    & .Icon-editFilled {
      display: none;
    }
  }

  // &-Menu {
  //   &.transition-item {
  //     bottom: calc(100% + 0.5rem);
  //     right: 0;
  //     top: auto;
  //     left: auto;
  //     // bottom: 60px !important;
  //     // top: auto !important;
  //     // left: auto !important;
  //     // right: 0 !important;
  //   }
  // }
}
