.messages-list {
  width: 100%;
  overflow-x: hidden; // ??
  > .messages-loading-transition {
    bottom: 0;
    top: auto;
    height: 100%;
  }
  flex: 1;
  padding-inline-start: 8px;

  @media only screen and (min-width: 1280px) {
    body.right-column-shown & {
      transform: translate3d(calc(var(--right-column-width) / -2), 0, 0);
    }

    @include withAnimations {
      transition: transform var(--slide-dark-transition);
    }
    .messages-container {
      width: calc(100% - var(--right-column-width));
    }
  }

  @media only screen and (max-width: 600px) {
    body.emoji-menu-open & {
      transform: translate3d(0, calc(var(--emoji-picker-height) / -1), 0);
    }
    @include withAnimations {
      transition: transform var(--slide-transition);
    }
  }

  transform: translate3d(0, 0, 0);

  .messages-container {
    @include responsive(desktop) {
      max-width: var(--messages-container-width);
    }
    padding-bottom: 10px;
    padding-inline: 10px;
    margin: 0 auto;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &.is-empty {
    .messages-container {
      height: 100%;
    }
  }
  &.is-selecting {
    .bubble > .bubble-content {
      user-select: none;
    }
    .bubble.incoming > .bubble-content {
      transform: translate3d(2rem, 0, 0);
    }
    .bubbles-group-avatar {
      transform: translate3d(2.5rem, 0, 0) scale3d(0.8, 0.8, 1);
    }
    .bubble > .Avatar {
      @include defaultTransition(transform, scale);

      transform: translate3d(2.5rem, 0, 0) scale3d(0.8, 0.8, 1);
    }

    .bubble:not(.action) {
      cursor: pointer;
      // background-color: green;
    }

    ~ .chat-input {
      .chat-input-container > .transition {
        transform: translate3d(25px, 0, 0);
      }
      .send-button {
        @include withAnimations {
          animation: hide-icon 0.2s ease forwards;
        }
        @include withoutAnimations {
          visibility: hidden;
        }
      }
    }
  }

  &.is-pinned {
    ~ .chat-input {
      background-color: green;
    }
  }

  &:not(.is-scrolled-down):not(.is-empty) {
    ~ .chat-input {
      > .btn-go-down {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }
}
