.messages-list {
  > .messages-loading-transition {
    bottom: 0;
    top: auto;
    height: 100%;
  }
  flex: 1;
  padding-inline-start: 8px;
  @media only screen and (min-width: 1280px) {
    body.right-column-shown & {
      transform: translate3d(calc(var(--right-column-width) / -2), 0, 0);
    }
    transition: transform var(--slide-dark-transition);

    .messages-container {
      max-width: calc(100% - var(--right-column-width));
    }
  }

  @media only screen and (max-width: 600px) {
    body.emoji-menu-open & {
      transform: translate3d(0, calc(var(--emoji-picker-height) / -1), 0);
    }
    transition: transform var(--slide-transition);
  }

  transform: translate3d(0, 0, 0);

  .messages-container {
    // body.right-column-shown & {
    // }
    padding-block: 10px;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // max-width: calc(100% - var(--right-column-width));
  }
}
