.chat-folders {
  .Lottie-player,
  .info {
    margin-inline: auto;
    margin-block: 20px;
    max-width: 20rem;
    text-align: center;
    color: var(--c-font-secondary);
    font-size: 14px;
  }
  .add-folder-btn {
    margin-inline: auto;
    margin-block: 10px;
  }
}
