.emoji-picker {
  height: var(--emoji-picker-height);
  max-width: 380px;
  left: 40px;
  // background-color: var(--c-surface-transparent);
  // backdrop-filter: blur(6px);
  z-index: var(--z-menu);
  box-shadow: var(--menu-shadow);
  background-color: var(--menu-bg) !important;
  @include withBlur(var(--menu-blur));

  min-height: 300px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    border-radius: 0;
    // max-height: 300px;
    max-width: 100%;
    background-color: var(--c-bg) !important;
  }
}

.emoji-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
}
.emoji-categories {
  padding-inline: 10px;

  // padding-block: 10px;
}

.category-btn {
  margin-block: 3px;
  margin-bottom: 5px;
}
.emoji-header {
  overflow: hidden;
  --emoji-search-input-width: 100px;
  width: auto;
  padding-inline: 10px;
  padding-block: 5px;
  margin-block-start: 3px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--c-border);
  position: relative;
  .search-btn {
    // float: right;
  }
  .search-input {
    left: 50px;
    position: absolute;
    height: 80%;
    background-color: rgba(var(--c-font-primary-rgb), 0.06);
    border-radius: 18px;
    padding-inline: 10px;
    caret-color: var(--c-primary);
    opacity: 0;
    transition: opacity 0.15s ease;

    width: var(--emoji-search-input-width);
    .emoji-picker.search-active & {
      display: block;
      opacity: 1;
      transition: opacity 0.15s ease;
    }
  }
}
.emoji-header-container {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
  // transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease;
  border-radius: 18px;
  padding-inline: 10px;
  background-color: rgba(var(--c-font-primary-rgb), 0.06);
  @include bgAndColorTransition(transform, width);
  @include withAnimations {
    scroll-behavior: smooth;
  }
  // padding-block: 10px;
  .emoji-picker.search-active & {
    width: calc(100% - var(--emoji-search-input-width) - 50px);
    transform: translateX(calc(var(--emoji-search-input-width) + 10px));
    // transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease;
    @include bgAndColorTransition(transform, width);
  }

  .emoji-header__line {
    position: absolute;
    // width: calc(10% + 8px);
    width: 10%;
    @include withAnimations {
      transition: transform 0.15s ease;
    }
    left: 0;
    height: 4px;
    border-radius: 18px;
    background-color: var(--c-primary);
    bottom: 0px;
  }
}
.emoji-footer {
  padding-inline: 10px;
  padding-block: 5px;
  margin-block-start: 3px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid var(--c-border);
  position: relative;

  .skin-tone {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #5d4437;
    &::after {
      content: '';
      mix-blend-mode: overlay;
      background: linear-gradient(#fff3, #0000);
      border: 1px solid #000c;
      border-radius: 100%;
      position: absolute;
      inset: 0;
      box-shadow: inset 0 -2px 3px #000, inset 0 1px 2px #fff;
    }
    &-1 {
      background-color: #ffc93a;
    }
    &-2 {
      background-color: #ffdab7;
    }
    &-3 {
      background-color: #e7b98f;
    }
    &-4 {
      background-color: #c88c61;
    }
    &-5 {
      background-color: #a46134;
    }
    &-6 {
      background-color: #5d4437;
    }
  }

  .skin-tone-menu {
    bottom: 40px;
    // right: -200px;
    // top: auto;
    margin-inline-end: 15px;
    background-color: var(--c-surface) !important;
  }
}
.emoji-category {
  width: 100%;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  // border: 1px solid red;
  &__title {
    text-align: center;
    font-weight: 500;
    color: var(--c-font-secondary);
  }
}
.emoji-category__content {
  // position: absolute;
  position: unset !important;

  width: 100%;
  --emoji-size: 2.125rem;
  --emoji-total-size: 2.625rem;
  display: grid;

  column-gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, var(--emoji-total-size));
  justify-content: space-between;
  font-size: var(--emoji-size);
  line-height: var(--emoji-size);
  .emoji-item {
    display: inline-block;
    width: var(--emoji-total-size);
    height: var(--emoji-total-size);
    padding: 5px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: var(--c-ripple);
      border-radius: 8px;
    }
  }
}
