.transition-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards !important;

  &_inactive {
    display: none !important;
  }
}
// Classnames taked from web telegram :)
/**
 * transition - Wrapper-container for TransitionGroup
 * transition-item - Wrapper for transition (TransitionGroup, SingleTransition)
 * item_from, item_to - phase
 * item_from - exited element,
 * item_to - entered element
 * 
 */

.transition {
  position: relative;
  width: 100%;
  height: 100%;

  // overflow: hidden;

  &-zoomSlide {
    /* Exited */
    > .transition-item_from {
      transform: scale(1);
      transform-origin: center;
      opacity: 1;
      animation: zoom-fade-out 0.25s ease-in-out;

      &.scrollable,
      .scrollable {
        scrollbar-color: transparent !important;

        &::-webkit-scrollbar-thumb {
          background-color: transparent !important;
        }
      }
    }

    /* Entered */
    > .transition-item_to {
      transform: translateX(100%);
      animation: slide-in-200 0.25s ease-in-out;
    }
  }

  &-zoomSlideBackwards {
    /* Exited */
    > .transition-item_from {
      animation: slide-in-200-backwards 0.25s ease-in-out;
    }

    /* Entered */
    > .transition-item_to {
      transform: scale(0.8);
      opacity: 0;
      animation: zoom-fade-out-backwards 0.25s ease-in-out;
    }
  }

  &-slideDark {
    // transition: filter var(--slide-transition);
    /* Exited */
    > .transition-item_from {
      filter: none;
      transform: translate3d(0, 0, 0);
      animation: slide-dark-out var(--slide-dark-transition);
    }

    /* Entered */
    > .transition-item_to {
      transform: translate3d(100%, 0, 0);
      animation: slide-in var(--slide-dark-transition);
    }
  }
  &-slideDarkBackwards {
    > .transition-item_from {
      transform: translate3d(0, 0, 0);
      animation: slide-in-backwards var(--slide-dark-transition);
    }

    > .transition-item_to {
      transform: translate3d(-80px, 0, 0);
      filter: brightness(0.5);
      animation: slide-dark-out-backwards var(--slide-dark-transition);
    }
  }
  &-slide {
    > .transition-item_from,
    &_from {
      animation: slide-out var(--slide-transition);
    }

    > .transition-item_to,
    &_to {
      transform: translateX(100%);
      animation: slide-in var(--slide-transition);
    }
  }
  &-slideBackwards {
    > .transition-item_from {
      animation: slide-in-backwards var(--slide-transition);
    }

    > .transition-item_to {
      transform: translateX(-100%);
      animation: slide-out-backwards var(--slide-transition);
    }
  }

  &-slideFade {
    > .transition-item_from,
    &_from {
      animation: slide-move-out var(--slide-transition), fade-out 150ms ease;
    }
    > .transition-item_to,
    &_to {
      transform: translate3d(1.5rem, 0, 0);
      animation: slide-move-in var(--slide-transition), fade-in 150ms ease;
    }
  }
  &-slideFadeBackwards {
    > .transition-item_from,
    &_from {
      animation: slide-move-in-backwards var(--slide-transition), fade-in-backwards 150ms ease;
    }
    > .transition-item_to,
    &_to {
      transform: translate3d(-1.5rem, 0, 0);
      animation: slide-move-out-backwards var(--slide-transition),
        fade-out-backwards 150ms ease;
    }
  }

  &-slideFadeY {
    > .transition-item_from,
    &_from {
      animation: slide-y-move-out var(--slide-transition), fade-out 150ms ease;
    }
    > .transition-item_to,
    &_to {
      transform: translate3d(1.5rem, 0, 0);
      animation: slide-y-move-in var(--slide-transition), fade-in 150ms ease;
    }
  }
  &-slideFadeYBackwards {
    > .transition-item_from,
    &_from {
      animation: slide-y-move-in-backwards var(--slide-transition),
        fade-in-backwards 150ms ease;
    }
    > .transition-item_to,
    &_to {
      transform: translate3d(-1.5rem, 0, 0);
      animation: slide-y-move-out-backwards var(--slide-transition),
        fade-out-backwards 150ms ease;
    }
  }

  &-zoomFade,
  &-zoomFadeBackwards {
    > .transition-item_from,
    &_from {
      animation: zoom-fade-out 250ms ease;
    }

    > .transition-item_to,
    &_to {
      animation: zoom-fade-in 250ms ease;
    }
  }

  &-fade,
  &-fadeBackwards {
    > .transition-item_from,
    &_from {
      animation: fade-out 0.25s ease-out;
    }

    > .transition-item_to,
    &_to {
      animation: fade-in 0.25s ease-out;
    }
  }

  &-rotate {
    > .transition-item_from {
      animation: rotate-out 0.3s ease;
    }

    > .transition-item_to {
      animation: rotate-in 0.3s ease;
    }
  }
  &-rotateBackwards {
    > .transition-item_from {
      animation: rotate-in-backwards 0.3s ease;
    }

    > .transition-item_to {
      animation: rotate-out-backwards 0.3s ease;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-backwards {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-backwards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate-in {
  0% {
    opacity: 0;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes rotate-out {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    transform: rotate(-180deg);
  }
}
@keyframes rotate-in-backwards {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
  }
}
@keyframes rotate-out-backwards {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-backwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-out-backwards {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-y-move-in {
  0% {
    transform: translate3d(0, 1.5rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-y-move-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1.5rem, 0);
  }
}
@keyframes sldie-y-move-in-backwards {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 1.5rem, 0);
  }
}
@keyframes slide-y-move-out-backwards {
  0% {
    transform: translate3d(0, -1.5rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-move-in {
  0% {
    transform: translate3d(1.5rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-move-out {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1.5rem, 0, 0);
  }
}
@keyframes slide-move-in-backwards {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1.5rem, 0, 0);
  }
}
@keyframes slide-move-out-backwards {
  0% {
    transform: translate3d(-1.5rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-dark-out {
  0% {
    transform: translate3d(0, 0, 0);
    filter: none;
  }

  100% {
    transform: translate3d(-80px, 0, 0);
    filter: brightness(0.5);
  }
}
@keyframes slide-dark-out-backwards {
  0% {
    transform: translate3d(-80px, 0, 0);
    filter: brightness(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0);
    filter: none;
  }
}

@keyframes zoom-fade-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom-fade-out {
  0% {
    transform: scale(1);

    opacity: 1;
  }
  100% {
    transform: scale(0.8);

    opacity: 0;
  }
}
@keyframes zoom-fade-out-backwards {
  0% {
    transform: scale(0.8);

    opacity: 0;
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}

@keyframes slide-in-200 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-200-backwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
