.Auth_phone {
  .Button-contained {
    margin-bottom: 20px;
  }
  .Logo {
    margin: 0px auto;
  }
  .Checkbox {
    margin: 0 0 20px;
    height: 55px;
    padding: 0 20px;
  }
  .spinner.spinner-large {
    display: block;
    margin: 100px auto;
  }
}
