.grecaptcha-badge {
  visibility: hidden;
}
.Auth_code {
  padding-top: 50px;
  position: relative;
  // width: 370px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    .Icon-edit {
      cursor: pointer;
      margin-left: 15px;
      // scale: 1.3;
    }
  }

  .spinner {
    display: block;
    margin: 0px auto;
  }
}
