.PhoneNumberInput {
  // .input-value {
  //   pointer-events: none;
  //   max-width: 80%;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   &::after {
  //     content: attr(data-remaining-pattern);
  //     display: inline-block;
  //     color: var(--color-placeholder);
  //     letter-spacing: 2px;
  //   }
  // }
  // input {
  //   color: red;
  // }
  .input-value {
    pointer-events: none;
    // letter-spacing: 0.5px;

    &::after {
      content: attr(data-pattern);
      display: inline-block;
      color: var(--color-placeholder);
      letter-spacing: -0.65px;
    }
  }
}
