.select-container {
  position: relative;
  .Menu {
    top: calc(var(--input-height) + 5px);
    max-height: 350px;
    width: 100% !important;
    &_item {
      font-size: 16px;
      font-weight: 400;
      // text-overflow: ellipsis;
      white-space: initial;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .input-container {
    .Icon-chevronDown {
      transition: transform 0.3s ease;
    }
    input:focus {
      ~ * .Icon-chevronDown {
        transform: rotate(180deg) !important;
        path {
          fill: var(--c-primary);
        }
      }
    }
  }
}

.country-emoji {
  font-size: 30px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
}
.country-name {
  flex: 1;
  padding: 0 20px;
}
.country-code {
  color: var(--c-font-secondary);
}
