.Avatar {
  border-radius: 50%;
  width: 42px;

  user-select: none;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  .initials {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }

  &-YELLOW {
    background-image: linear-gradient(
      111.4deg,
      rgba(238, 113, 113, 1) 1%,
      rgba(246, 215, 148, 1) 58%
    );
  }
  &-BLUE {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(126, 155, 212, 1) 0%,
      rgba(87, 83, 247, 1) 90%
    );
  }

  &-GREEN {
    background-image: linear-gradient(
      109.6deg,
      rgba(61, 131, 97, 1) 11.2%,
      rgba(28, 103, 88, 1) 91.1%
    );
  }

  &-PINK {
    background-color: #ff9a8b;
    background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
  }

  &-ORANGE {
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  }

  &-PURPLE {
    background-image: linear-gradient(
      108.7deg,
      rgba(221, 22, 224, 1) 11%,
      rgba(111, 22, 190, 1) 88.2%
    );
  }
}
