.ChatItem {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  // gap: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  &:hover {
    background-color: var(--c-ripple);
  }

  .Checkbox {
    min-width: 50px;
    padding: 2px;
  }

  .info {
    padding-left: 15px;
    flex: 1;
    user-select: none;
  }

  .title {
    font-size: 16px;
  }

  .subtitle {
    color: var(--c-font-secondary);
    font-size: 15px;
  }

  &.non-clickable {
    cursor: default;

    &:hover {
      background-color: initial;
    }
  }
}
