.column-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.column-header {
  padding: 8px 15px 10px;
  display: flex;
  align-items: center;
  min-height: var(--column-header-height);
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  background-color: var(--c-surface);
  @include bgAndColorTransition(border-color);
  // @include defaultTransition(border-color);
  &.scrolled {
    border-color: var(--c-border);
  }

  > .transition > .transition-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    padding-left: 20px;
    flex: 1;
    font-weight: 600;
    font-size: 20px;
  }
}

.column-caption {
  color: var(--c-font-secondary);
  font-size: 14px;
  padding-inline: 20px;
  // font-weight: 500;
  margin-bottom: 15px;
}

.column-content {
  // background-color: var(--c-surface-3);
  height: 100%;
  overflow-y: auto;
}
