.Menu {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: max-content !important;
  padding: 10px 5px;
  background-color: rgb(255 255 255/90%);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  max-height: inherit;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &_list {
  }
  &_item {
    width: 100%;
    margin: 2px;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
    &:focus-within {
      background-color: red;
    }
    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      transform: scale(0.97);
      transition: transform 0.15s ease-in-out;
    }

    &.no-results {
      font-size: 14px;
      color: var(--color-text-secondary);
    }

    &.hidden {
      display: none;
    }
    &.selected {
      background-color: red !important;
    }
  }
}
