.transition-base {
  &.Transition_absoluted {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.Transition {
  width: 100%;
  height: 100%;
  body.animation-level-2 & {
    transition: opacity 0.15s !important;
    transform: none !important;
  }
  body.animation-none & {
    transition: none !important;
    transform: none !important;
  }
}

$transform-3d-final: translate3d(0, 0, 0);

$transition-zoom-fade:
  opacity var(--transition-duration-zoom-fade) ease,
  transform var(--transition-duration-zoom-fade) cubic-bezier(0.33, 1, 0.68, 1);

$transform-zoom-fade-init: scale(0.8) $transform-3d-final;
$transform-zoom-fade-final: scale(1) $transform-3d-final;
.zoomFade {
  --transform-zoom-fade-init: #{$transform-zoom-fade-init};
  --transform-zoom-fade-final: #{$transform-zoom-fade-final};
  @include withTransition(
    var(--transform-zoom-fade-init),
    var(--transform-zoom-fade-final),
    $transition-zoom-fade,
    true
  );
}

.fade {
  @extend .transition-base;
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity var(--transition-duration-fade) ease-in-out;
    }
    &-done {
      opacity: 1;
    }
  }
  &-appear {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity /* 350ms */ var(--transition-duration-fade) ease;
    }
    &-done {
      opacity: 1;
    }
  }
  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity var(--transition-duration-fade) ease-in-out;
    }
    &-done {
      /* display instead opacity for perfomance */
      display: none !important;
    }
  }
}

$transform-layout-slide-transition: transform var(--transition-duration-slide) cubic-bezier(0.33, 1, 0.68, 1);
.slide {
  --transform-layout-slide-transition: #{$transform-layout-slide-transition};

  @include withTransition(translate3d(100%, 0, 0), $transform-3d-final, var(--transform-layout-slide-transition));
}
