.transition-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.transition {
  height: 100%;
  width: 100%;
}
.zoomFade {
  @extend .transition-base;
  &-enter {
    opacity: 0;
    transform: scale(0.5);
    &-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity var(--transition-duration-zoom-fade) ease-in,
        transform var(--transition-duration-zoom-fade) ease-in;
      // transition-delay: 500ms;
    }
    &-done {
      opacity: 1;
      transform: scale(1);
    }
  }
  &-appear {
    opacity: 0;
    transform: scale(0.5);
    &-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity var(--transition-duration-zoom-fade) ease-in-out,
        transform var(--transition-duration-zoom-fade) ease-in-out;
    }
    &-done {
      opacity: 1;
      transform: scale(1);
    }
  }
  &-exit {
    opacity: 1;
    transform: scale(1);

    &-active {
      opacity: 0;
      transform: scale(0.5);
      transition: opacity var(--transition-duration-zoom-fade) ease-in-out,
        transform var(--transition-duration-zoom-fade) ease-in-out;
    }
    &-done {
      /* display instead opacity for perfomance */
      display: none !important; /* for avoid conflicts !important */
      transform: scale(0.5);
    }
  }
}

.fade {
  @extend .transition-base;
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity var(--transition-duration-fade) ease-in-out;
    }
    &-done {
      opacity: 1;
    }
  }
  &-appear {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity /* 350ms */ var(--transition-duration-fade) ease;
    }
    &-done {
      opacity: 1;
    }
  }
  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity var(--transition-duration-fade) ease-in-out;
    }
    &-done {
      /* display instead opacity for perfomance */
      display: none !important;
    }
  }
}

.slide {
  @extend .transition-base;
  will-change: transform;
  &-enter {
    transform: translate3d(200%, 0, 0);
    &-active {
      transform: translate3d(0, 0, 0);
      transition: transform var(--transition-duration-slide) ease-in-out;
    }
    &-done {
      transform: translate3d(0, 0, 0);
    }
  }
  &-appear {
    transform: translate3d(200%, 0, 0);
    &-active {
      transform: translate3d(0, 0, 0);
      transition: transform var(--transition-duration-slide) ease-in-out;
    }
    &-done {
      transform: translate3d(0, 0, 0);
    }
  }
  &-exit {
    transform: translate3d(0, 0, 0);

    &-active {
      transform: translate3d(200%, 0, 0);
      transition: transform var(--transition-duration-slide) ease-in-out;
    }
    &-done {
      /* display instead opacity for perfomance */
      display: none !important; /* for avoid conflicts !important */
      transform: translate3d(200%, 0, 0);
    }
  }
}
