@import 'croppie/croppie.css';

.UploadPhoto {
  border-radius: 50%;
  background-color: var(--c-primary);
  position: relative;
  flex-shrink: 0;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  background-position: center center;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  // background-size: cover;
  // background-color: var(--c-bg);
  &:hover {
    .Icon {
      transform: scale(1.2);
    }
  }

  .Icon {
    transition: transform 0.3s ease;
    position: absolute;
    z-index: 1;
    // z-index: 5;
    path {
      fill: #fff !important;
    }
  }
  > img {
    filter: brightness(0.5);
  }
  &.large {
    width: 150px;
    height: 150px;
    .Icon {
      width: 50px;
      height: 50px;
    }
  }
  > input {
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
.croppie-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  .cr-viewport {
    // box-shadow: 0 0 2000px 2000px rgba(var(--c-bg-rgb) / 0.75);
    box-shadow: 0 0 2000px 2000px rgb(255 255 255 / 75%);
    border: none;
    position: absolute;
  }
  .cr-image {
    border-radius: 12px;
  }
  .cr-boundary {
    position: relative;
    border-radius: 12px;

    // width: 400px;
    // height: 400px;

    // --- BLUR EFFECT ---
    // &::before {
    //   content: '';
    // -webkit-mask: radial-gradient(circle, #0000 100px, rgba(0, 0, 0, 0.9) 100px);

    // backdrop-filter: blur(1px);
    // background-color: red;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // }
  }
  .cr-overlay {
    border-radius: 12px;
  }
}

.cr-slider {
  border: none;
  // border-color: blue;

  @include bgAndColorTransition(border-color, scale);
  &::-webkit-slider-thumb {
    background-color: var(--c-primary);
    cursor: grab;
    @include bgAndColorTransition(border-color, scale);

    &:active {
      scale: 1.2;
    }
    &:hover {
      background-color: var(--c-primary-hover);
    }
  }

  &::-webkit-slider-runnable-track {
    @include bgAndColorTransition(border-color);

    background-color: var(--c-border-input);
  }

  // background-color: red;
}
