.UploadPhoto {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    .Icon {
      transform: scale(1.2);
    }
  }

  .Icon {
    transition: transform 0.3s ease;
    path {
      fill: #fff !important;
    }
  }
}
