.Settings-Main {
  display: flex;
  flex-direction: column;
  .LeftColumn-Header {
    justify-content: space-between;
    border-bottom: 1px solid transparent;
    @include bgAndColorTransition(border-color);
    .btn-actions {
      display: flex;
      align-items: center;
    }

    &.scrolled {
      border-color: var(--c-border);
    }
  }

  .settings-image {
    min-height: 250px;
    background-color: white;
  }
}
