p {
  font-size: 1rem;
}
h5 {
  font-size: 1.25em;
} /* 22.50px */
h4 {
  font-size: 1.563em;
} /* 28.13px */
h3 {
  font-size: 1.953em;
} /* 35.16px */
h2 {
  font-size: 2.441em;
} /* 43.95px */
h1 {
  font-size: 3.052em;
} /* 54.93px */
