//   background: #dce35b; /* fallback for old browsers */ // CHAT BACKGROUND
//   background: -webkit-linear-gradient(to left, #dce35b, #45b649); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to left, #dce35b, #45b649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26//+, Opera 1 +, Safari 7+ */
//
@use 'sass:color';

$color-text-secondary: #707579;
$color-primary: #3290ec;
// $color-primary-lighter: #4da4f5;

// $color-primary-transparent: rgba(78, 163, 252, 0.13);
$color-primary-lighter: lighten($color-primary, 8%);
$color-placeholder: #999;
$color-border: #d5d7db;
$color-error: rgb(237, 24, 24);
$color-error-secondary: rgba(233, 52, 52, 0.751);

$color-warn: #ffd3009e;
$color-gray: #f4f4f5;
$color-neutral: #8d969c;
$color-neutral-secondary: #94989b;
$color-neutral-third: #dc3016;
$color-neutral-hover: rgba(0, 0, 0, 0.05);

$color-background: #fff;
$color-background-secondary: #dedede;
$color-background-transparent: rgba(255 255 255/90%);

$color-ripple: rgb(112 117 121 / 8%);
$color-border: #dfe1e5;
$color-border-hover: #c4c9cc;

$input-border-radius: 12px;
$input-height: 50px;

$transition-duration-zoom-fade: 200ms;
$transition-duration-fade: 200ms;
$transition-duration-slide: 220ms;

$z-menu-backdrop: 10;
$z-menu: 11;

// $c-bg: #fff;
$c-bg: #f4f4f5;
$c-bg-body: #fff;
$c-surface: #ffffff;
$c-surface-2: darken($c-surface, 2%);
$c-surface-3: darken($c-surface, 5%);
$c-surface-transparent: rgba($c-surface, 80%);

$c-border: #dfe1e5;
$c-border-hover: darken($c-border, 10%);

$c-primary: #3290ec; // #50A2E9 - lighten
$c-primary-light: #3390ec;
// $color-primary-transparent: rgba(darken($c-primary, 10%), 0.3);

$c-primary-rgb: 50, 144, 236; // rgb(80,162,233)
$c-primary-hover: darken($c-primary, 2%);
$c-primary-transparent: rgba(darken($c-primary, 10%), 0.1);
$c-icon: #707579;
$c-green: #35c759;
$c-green-hover: darken($c-green, 2%);
$c-green-transparent: rgba($c-green, 0.1);
$c-blue: #007aff;
$c-red: #d33430;
$c-white: #fff;
$c-red-hover: darken($c-red, 2%);
$c-red-transparent: rgba($c-red, 0.1);
$c-orange: #ff9500;
$c-ripple: rgba($c-icon, 8%);
$c-icon-2: darken($c-icon, 10%);
$c-scrollbar: lighten($c-icon, 40%);

$c-message-bg: #e9f5e9;
$c-message-meta: darken($c-message-bg, 50%);
$c-font-primary: #000;
$c-font-secondary: $c-icon;
$c-font-secondary-2: $c-icon-2;
$c-font-red: #df3f40;
$c-danger: #df3f40;
// AVATARS GRADIENTS
$c-avatar-yellow: linear-gradient(
  111.4deg,
  rgba(238, 113, 113, 1) 1%,
  rgba(246, 215, 148, 1) 58%
);
$c-user-yellow: rgb(195, 151, 55);
$c-avatar-blue: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(126, 155, 212, 1) 0%,
  rgba(87, 83, 247, 1) 90%
);
$c-user-blue: rgb(67, 66, 149);
$c-avatar-green: linear-gradient(
  109.6deg,
  rgba(61, 131, 97, 1) 11.2%,
  rgba(28, 103, 88, 1) 91.1%
);
// $c-user-green: rgba(61, 131, 97, 1);
$c-user-green: #03c1a6;
$c-avatar-pink: linear-gradient(90deg, #ff9a8b 0%, hsl(348, 100%, 71%) 55%, #ff99ac 100%);
$c-user-pink: #ff99ac;
$c-avatar-orange: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
$c-user-orange: rgb(255, 153, 102);
$c-avatar-purple: linear-gradient(to right, #cc2b5e, #753a88);
$c-user-purple: #753a88;
$fs-messages: 16px;
$right-column-width: 420px;
$theme-map-dark: (
  // $--c-test: #33323412,
  --theme-test: 120px
);
:root {
  --z-left-column: 1;
  --z-middle-column: 2;
  --z-middle-header: 1;
  --z-right-column: 3;
  --z-popup: 4;
  --z-menu-backdrop: #{$z-menu-backdrop};
  --z-menu: #{$z-menu};
  --right-column-width: #{$right-column-width};
  --left-column-width: 420px;
  --emoji-picker-height: 425px;
  --chat-input-height: 54px;
  @include responsive(mobile) {
    --right-column-width: 100dvw;
    --left-column-width: 100%;
    --emoji-picker-height: 300px;
  }
  @include responsive(tablet) {
    --right-column-width: 420px;
    --left-column-width: 100%;
  }
  @include responsive(desktop) {
    --right-column-width: 25dvw;
    --left-column-width: 420px;
  }
  --slide-transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
  --slide-dark-transition: 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --c-scrollbar: rgba(90, 90, 90, 0.3);
  @include spread-map($theme-map-dark);

  --c-primary-hover: #{$c-primary-hover};
  --c-primary-transparent: #{$c-primary-transparent};
  --c-primary-disabled: #{$color-primary-lighter};

  --color-placeholder: #{$color-placeholder};
  --color-error: #{$color-error};
  --color-error-secondary: #{$color-error-secondary};

  --color-warn: #{$color-warn};
  --color-gray: #{$color-gray};

  --color-neutral: #{$color-neutral};
  --color-neutral-secondary: #{$color-neutral-secondary};

  --color-neutral-hover: #{$color-neutral-hover};

  --color-ripple: #{$color-ripple};
  --color-border: #{$color-border};
  --color-border-hover: #{$color-border-hover};

  --input-border-radius: #{$input-border-radius};
  --input-height: #{$input-height};

  //

  // components
  --menu-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  --menu-bg: rgb(255 255 255 / 60%);
  --menu-blur: 12px;
  --bubble-arrow-width: 1rem;

  --c-border-input: #{$c-border};
  --c-border-hover-input: #{$c-border-hover};
  --c-placeholder: #{$c-font-secondary};
  --c-bg: #{$c-bg};
  --c-bg-body: #{$c-bg-body};
  --c-bg-2: #f4f4f5;
  --c-bg-rgb: 255, 255, 255;
  --c-pattern: rgba(232, 231, 231, 0.3);
  --c-message-container-bg: #e6ebee; /* #{$c-bg}; */
  // --c-bubble-bg: #{$c-message-bg};

  --c-bubble-bg: #e1ffc7;
  --c-message-meta: #{$c-message-meta};
  &.bubble-mode {
    /* IDK */
  }

  --c-bubble-highlight: rgba(0, 0, 0, 0.381);

  // --c-bubble-highlight: var(--c-ripple);

  --c-box-shadow-section: rgba(0, 0, 0, 0.06);
  --c-shadow-light: rgb(114, 114, 114, 0.169);
  --c-shadow-default: rgb(114, 114, 114, 0.251);
  --c-surface: #{$c-surface};
  --c-surface-2: #{$c-surface-2};
  --c-surface-3: #{$c-surface-3};
  --c-surface-transparent: #{$c-surface-transparent};
  --c-surface-3-transparent: #{rgba(0, 0, 0, 0.06)};

  --c-border: #{$c-border};
  --c-border-hover: #{$c-border-hover};

  // --c-primary: #{$c-primary};
  --c-primary: #50a2e9;
  --c-primary-hover: #{$c-primary-hover};
  --c-primary-light: #{$c-primary-light};

  --c-icon: #{$c-icon};
  --c-icon-2: #{$c-icon-2};

  --c-ripple: #{$c-ripple};
  --c-error: #{$c-font-red};
  --c-danger: #{$c-danger};
  --c-gray: rgb(196, 201, 204);

  --c-green: #{$c-green};
  --c-green-hover: #{$c-green-hover};
  --c-green-transparent: #{$c-green-transparent};
  --c-red: #{$c-red};
  --c-red-hover: #{$c-red-hover};
  --c-red-transparent: #{$c-red-transparent};
  --c-blue: #{$c-blue};
  --c-orange: #{$c-orange};
  --c-white: #{$c-white};

  --c-font-primary: #{$c-font-primary};
  --c-font-primary-rgb: 0, 0, 0;
  --c-font-secondary: #{$c-font-secondary};
  --c-font-secondary-2: #{$c-font-secondary-2};
  --c-font-red: #{$c-font-red};

  --c-avatar-blue: #{$c-avatar-blue};
  --c-user-blue: #{$c-user-blue};

  --c-avatar-green: #{$c-avatar-green};
  --c-user-green: #{$c-user-green};

  --c-avatar-yellow: #{$c-avatar-yellow};
  --c-user-yellow: #{$c-user-yellow};

  --c-avatar-pink: #{$c-avatar-pink};
  --c-user-pink: #{$c-user-pink};

  --c-avatar-purple: #{$c-avatar-purple};
  --c-user-purple: #{$c-user-purple};

  --c-avatar-orange: #{$c-avatar-orange};
  --c-user-orange: #{$c-user-orange};

  // html.night & {}
  &.night {
    // &.bubble-mode {}
    // $c-primary: #888afd;
    $c-primary: #8774e1;
    $c-primary-light: #b2a6eb;
    $c-primary-dark: lighten($c-primary, 15%);
    $c-bg-surface: #212121;
    $c-bg: #000;
    $c-bg-body: #181818;
    $c-bg-rgb: 0 0 0;
    $c-border: #0f0f0f;
    $c-border-input: #303030;
    $c-icon: #aaa;
    $c-icon-2: lighten($c-icon, 10%);
    $c-ripple: rgba($c-icon-2, 8%);
    $c-surface-3: ligthen($c-bg-surface, 5%);

    // components
    --menu-bg: rgb(33 33 33 / 75%);

    --c-border-input: #{$c-border-input};
    --c-border-hover-input: #{lighten($c-border-input, 5%)};

    --c-message-container-bg: #000;
    --c-bubble-bg: #{$c-primary};
    --c-message-meta: #{$c-primary-dark};
    // --c-message-highlight: hsl(299.14deg 44.17% 37.47% / 40%);
    --c-bubble-highlight: #0a0a0a8c;
    // --c-message-highlight: hsl(299.14deg 44.17% 37.47% / 40%);

    --c-bg: #181818;
    --c-bg-body: #{$c-bg-body};
    --c-bg-2: #0f0f0f;
    --c-pattern: #0a0a0a8c;

    // --c-scrollbar: #{$c-border-input};
    // --c-scrollbar: rgba(255, 255, 255, 0.2);

    --c-surface: #{$c-bg-surface};
    --c-surface-2: #{lighten($c-bg-surface, 2%)};
    --c-surface-3: #{$c-surface-3};
    --c-surface-transparent: #{rgba($c-bg-surface, 80%)};
    --c-surface-3-transparent: #{rgba(0, 0, 0, 0.3)};

    --c-shadow-light: rgb(0, 0, 0, 0.251);
    --c-shadow-default: rgb(16 16 16 / 61%);
    --c-border: #{$c-border};
    --c-border-hover: #{lighten($c-border, 3%)};

    --c-primary: #{$c-primary};
    --c-primary-light: #{$c-primary-light};
    --c-primary-hover: #{darken($c-primary, 3%)};
    --c-primary-transparent: #{rgba(darken($c-primary, 10%), 0.1)};

    --c-danger: #ff595a;
    --c-gray: rgb(113, 117, 121);
    --c-icon: #{$c-icon};
    --c-icon-2: #{$c-icon-2};
    --c-ripple: #{$c-ripple};
    --c-font-primary: #fff;
    --c-font-primary-rgb: 255, 255, 255;
    --c-font-secondary: #{$c-icon}; /* #AAAAAA; */
    --c-font-secondary-2: #{$c-icon-2};
    --c-font-red: #ff595a;
  }
}
