@import "variables";
@import "reset";
@import "typography";
#app {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;
  line-height: 1.35;
}
.scrollable {
  overflow-y: auto;
  height: 100%;
  &.scroll-hidden {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  & ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.75rem;
    width: 5px;
    transition-duration: 0.4s;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    display: none;
    scrollbar-width: none;
    // background-color: red;
    border-radius: 0.75rem;
    width: 5px;
    transition-duration: 0.4s;
  }

  /* Scrollbar Stuffs */
  &:hover::-webkit-scrollbar-thumb {
    background-color: $color-scrollbar;
    scrollbar-width: thin;
    display: initial;
  }
}
.text-center {
  text-align: center;
}
