.Modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: var(--z-popup);
  &-paper {
    // flex-shrink: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    min-height: 200px;
    min-width: 300px;
    max-width: 500px;

    background-color: var(--c-surface);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    @include withAnimations {
      animation: modal-open 0.15s ease;
    }
    @include withSmallScreen {
      width: 95%;
      min-width: unset !important;
    }
  }
  &-content {
    padding-block: 15px;
    padding-inline: 5px;
  }

  &-title {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 auto;
    white-space: nowrap;
    margin-inline: 20px 40px;

    @include responsive(mobile) {
      margin-inline: 10px 15px;
    }
  }

  &-header {
    padding-inline: 5px;
    padding-block: 5px;
    display: flex;
    align-items: center;

    .Button {
      width: max-content;
      height: 40px;
      font-size: 14px;
      flex-shrink: 0.3;
    }
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(
      111.4deg,
      rgba(238, 113, 113, 1) 1%,
      rgba(246, 215, 148, 1) 58%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
  }
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
  }
  .form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

    @include responsive(mobile) {
      flex-direction: column;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex-wrap: wrap;
  }
}

@keyframes modal-open {
  from {
    transform: translate3d(0, 15%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
