.media-photo-container {
  overflow: hidden; // ???
  position: relative;
  cursor: pointer; // ????
  // img {
  //   z-index: 1;
  // }
  // border-radius: 50%;
  // overflow: hidden;
  &.is-load {
    > .media-blurhash {
      // opacity: 0 !important;
      // display: none !important;
    }
  }
  &.has-spoiler {
  }
  &.blured {
    > .spoiler {
      backdrop-filter: blur(20px);
    }
  }
  > .media-blurhash {
    border-radius: 50%;
    // z-index: 1;
  }

  > .media-photo {
    object-fit: cover;
    pointer-events: none;
    position: absolute !important;
    top: 0;
    left: 0;
    // z-index: -1
    transition: opacity 0.2s ease;
  }

  > .media-progress {
    z-index: 1;
    width: auto;
    height: auto;
    position: absolute;
    top: 5px;
    left: 5px;

    padding-block: 2px;
    padding-inline: 8px;

    border-radius: 0.975rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--c-white);
    font-size: 12px;
  }

  .loader-container {
    z-index: 1;
  }

  > .spoiler {
    z-index: 2;
  }

  > .spoiler.shown {
    & ~ .media-blurhash {
      z-index: 1;
    }
    & ~ .loader-container,
    & ~ .media-progress {
      z-index: 2;
    }
  }
}
