.Button {
  position: relative;
  overflow: hidden;
  background-color: var(--c-primary);
  color: #fff;
  height: 50px;
  padding: 5px 15px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  // transition: background-color 0.3s ease;
  @include bgAndColorTransition();
  body.animation-none {
    transition: none !important;
  }
  &:hover {
    background-color: var(--c-primary-hover);
  }
  &-fullwidth {
    width: 100%;
  }
  &-transparent {
    --color-ripple: var(--c-primary-transparent);
    background-color: transparent;
    color: var(--c-primary);
    &:hover {
      background-color: var(--c-primary-transparent);
    }
    font-weight: 400;

    &:disabled {
      opacity: 0.8;
      background-color: transparent !important;
    }
  }

  &-loading {
    justify-content: center;
    > .loader {
      position: absolute;
      right: 20px;
      height: 24px;
    }
  }
  &-loading.Button-transparent {
    color: #fff;
    background-color: var(--c-primary-transparent);
  }

  &:disabled {
    pointer-events: none;

    opacity: 0.5;
  }
}
