@mixin transparentBtn($color, $transparent) {
  // --color-ripple: $transparent;
  background-color: transparent;
  color: $color;
  &:hover {
    background-color: $transparent !important;
  }
  &:disabled {
    opacity: 0.8;
    background-color: $transparent !important;
  }

  .Icon path {
    fill: $color;
  }
}

.Button {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-color: var(--c-primary);
  color: #fff;
  height: 50px;
  padding: 5px 15px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  // transition: background-color 0.3s ease;
  @include bgAndColorTransition();
  body.animation-none {
    transition: none !important;
  }
  &:hover {
    background-color: var(--c-primary-hover);
  }
  &-fullwidth {
    width: 100%;
  }
  &-noTransform {
    text-transform: initial;
  }
  &-transparent {
    background-color: transparent !important;

    // font-weight: 400;

    &.Button-red {
      --color-ripple: var(--c-red-transparent);
      @include transparentBtn(var(--c-red), var(--c-red-transparent));
    }

    &.Button-primary {
      --color-ripple: var(--c-primary-transparent);

      @include transparentBtn(var(--c-primary), var(--c-primary-transparent));
    }

    &.Button-gray {
      --color-ripple: var(--c-ripple);

      @include transparentBtn(var(--c-icon), var(--c-ripple));
    }

    &.Button-green {
      --color-ripple: var(--c-green-transparent);

      @include transparentBtn(var(--c-green), var(--c-green-transparent));
    }
  }

  &-loading {
    justify-content: center;
    > .loader {
      right: 20px;
    }

    // padding-right: 24px;
  }
  &-loading.Button-transparent {
    // color: #fff;
    background-color: var(--c-primary-transparent);
  }

  &:disabled {
    pointer-events: none;

    opacity: 0.5;
  }

  &-red {
    background-color: var(--c-red);

    &:hover {
      background-color: var(--c-red-hover);
    }

    .Icon path {
      fill: var(--c-red);
    }
  }

  &-gray {
    background-color: transparent;

    &:hover {
      // &:hover,
      // :focus {
      background-color: var(--c-surface-3);
    }

    .Icon path {
      fill: var(--c-icon);
    }
    color: var(--c-icon);
  }

  &-primary {
    background-color: var(--c-primary);
    color: #fff;

    &:hover {
      background-color: var(--c-primary-hover);
    }
    .Icon path {
      fill: var(--c-white);
    }
  }
}
