.Checkbox {
  font-size: 16px;
  font-weight: 400;
  width: 24px;
  // height: 24px;
  padding-inline: 20px;
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 30px;

  width: 100%;
  min-height: 52px;
  border-radius: var(--input-border-radius);
  &-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
  cursor: pointer;
  // @include withAnimations {
  //   transition: background-color 0.2s ease;
  // }
  @include bgAndColorTransition(color);
  &.disabled {
    pointer-events: none;
  }
  &.ripple {
    overflow: hidden;
    position: relative;
  }

  .Icon-check {
    position: absolute;
    // left: 23px;
    path {
      fill: #fff;
    }
    @include withAnimations {
      animation: hide-icon 0.2s forwards ease;
    }
    @include withoutAnimations {
      display: none;
    }
    width: 18px;
    height: 18px;
  }
  &.ripple {
    &:hover {
      background-color: var(--c-ripple);
    }
  }

  input[type='checkbox'] {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 2px solid var(--color-neutral);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include bgAndColorTransition(border-color);
    // @include withAnimations {
    //   transition: all 0.2s ease;
    // }

    &:checked {
      background-color: var(--c-primary);
      border-color: var(--c-primary);
      & + .Icon-check {
        @include withAnimations {
          animation: show-icon 0.2s ease;
        }
        @include withoutAnimations {
          display: inline;
        }
      }
    }
  }
}
