.Checkbox {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  overflow: hidden;
  border-radius: var(--input-border-radius);
  &-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  cursor: pointer;
  @include withAnimations {
    transition: background-color 0.2s ease;
  }
  &.disabled {
    pointer-events: none;
  }

  .Icon-check {
    position: absolute;
    // left: 23px;
    path {
      fill: #fff;
    }
    display: none;
    // width: 15px;
    // height: 15px;
  }
  &.ripple {
    &:hover {
      background-color: var(--color-neutral-hover);
    }
  }

  input[type='checkbox'] {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 2px solid var(--color-neutral);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include withAnimations {
      transition: all 0.2s ease;
    }

    &:checked {
      background-color: var(--c-primary);
      border-color: var(--c-primary);
      & + .Icon-check {
        display: inline;
      }
    }
  }
}
