.divider {
  display: flex;
  white-space: nowrap;
  align-items: center;
  user-select: none;
  width: 100%;
  &::after,
  &::before {
    content: '';
    display: block;
    width: 100%;
    border-top: thin solid var(--c-border-input);
    @include defaultTransition(border-color);
  }

  &.primary {
    &::after,
    &::before {
      border-color: var(--c-primary);
    }
  }

  &-left {
    &::after {
      width: 90%;
    }
    &::before {
      width: 10%;
    }
  }

  &-right {
    &::after {
      width: 10%;
    }
    &::before {
      width: 90%;
    }
  }

  &-wrapper {
    padding: 0px 7px;
  }
  &.primary {
    color: var(--c-primary);
  }
  &.bold {
    font-weight: 500;
  }
}
