.FloatButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  svg path {
    fill: #fff;
  }
  // &_icon {
  //   height: 24px !important; /* @todo avoid hardcode ( 24px - height of icons ) */
  //   top: auto !important;
  //   transition: 0.35s ease all;
  // }

  transform: translateY(100px);
  &.shown {
    transform: translateY(0);
  }

  // & .Icon {
  //   position: absolute;
  //   animation: hide-icon 0.3s ease;
  // }
  .loader {
    right: auto;
    top: 16px;
    // transform: translateY(-50%);
  }

  @include withAnimations {
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-color 0.2s ease;

    &:not(.Button-loading) {
      > .loader {
        animation: hide-icon 0.3s ease;
      }
      > .Icon {
        animation: show-icon 0.3s ease;
      }
    }
    &.Button-loading {
      > .loader {
        animation: show-icon 0.3s ease;
      }
      > .Icon {
        animation: hide-icon 0.3s ease;
      }
    }
  }
}
