.Icon {
  height: 24px;
  width: 24px;
  &-default {
    path {
      fill: var(--c-icon);
    }
    // &:hover {
    //   path {
    //     fill: var(--c-icon);
    //   }
    // }
  }
  &-secondary {
    path {
      fill: var(--c-icon);
    }
    // &:hover {
    //   path {
    //     fill: var(--c-icon);
    //   }
    // }
  }
  path {
    transition: all 0.2s ease !important;
  }
  // &:hover {
  //   path {
  //     fill: var(--c-icon-2);
  //   }
  // }
}
