.Icon {
  flex-shrink: 0;
  &-default {
    path {
      fill: var(--c-font-primary) !important; // ??
    }
    &.Icon-story {
      path {
        fill: none !important;
      }
      circle,
      .story-play-path {
        fill: var(--c-font-primary) !important;
      }
      // stroke: red;
    }
    &.Icon-key {
      stroke: var(--c-font-primary);
      path {
        fill: unset !important;
      }
    }
  }
  &-white {
    path {
      fill: var(--c-white) !important;
    }
    &.Icon-arrowRight {
      stroke: var(--c-white);
    }
  }
  &-secondary {
    path {
      fill: var(--c-icon);
    }

    &.Icon-key {
      stroke: var(--c-icon);
      path {
        fill: unset;
      }
    }
  }

  &-primary {
    path {
      fill: var(--c-primary) !important;
    }
  }

  &-small {
    width: 18px;
    height: 18px;
  }
  &-medium {
    height: 24px !important;
    width: 24px !important;
  }
}

.Icon-story {
  path {
    fill: none !important;
  }
  circle,
  .story-play-path {
    fill: var(--c-font-primary) !important;
  }
  // stroke: red;
}
