.Icon {
  height: 24px;
  width: 24px;

  &-default {
    path {
      fill: var(--c-icon);
    }
  }
  &-secondary {
    path {
      fill: var(--c-icon);
    }
  }
}

.Icon-story {
  path {
    fill: none !important;
  }
  circle,
  .story-play-path {
    fill: var(--c-font-primary) !important;
  }
  .story-play-path {
  }
  // stroke: red;
}
.Icon-key {
  stroke: var(--c-icon);
  path {
    fill: unset;
  }
}
