.input-container {
  position: relative;
  width: 100%;

  .Transition {
    --transform-zoom-fade-init: scale(0.3);
  }
  input {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    border-radius: var(--input-border-radius);
    padding: 0 20px;
    height: var(--input-base-height);
    width: 100%;
    border: 1px solid var(--color-border);
    background-color: transparent;
    transition: border-color 0.2s ease-out;

    &::placeholder {
      transition: color 0.2s ease-out;
      color: var(--color-placeholder);
    }

    &:autofill,
    &:-webkit-autofill-strong-password,
    &:-webkit-autofill-strong-password-viewable,
    &:-webkit-autofill-and-obscured {
      box-shadow: inset 0 0 0 10rem var(--color-background);
      -webkit-text-fill-color: var(--color-text);
    }

    &::-webkit-strong-password-auto-fill-button {
      opacity: 0;
      width: 0 !important;
      overflow: hidden !important;
      max-width: 0 !important;
      min-width: 0 !important;
      clip: rect(0, 0, 0, 0);
      position: absolute;
    }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: var(--color-primary);
      ~ label,
      &::placeholder,
      ~ .length-indicator {
        color: var(--color-primary);
      }

      ~ .Transition .Icon path,
      .Icon path {
        fill: var(--color-primary);
      }
    }
    &:focus {
      caret-color: var(--color-primary);
      ~ .input-border {
        opacity: 1;
      }
      &::placeholder,
      ~ label,
      ~ .length-indicator {
        color: var(--color-primary);
      }
      ~ .Icon path {
        fill: var(--color-primary);
      }
    }

    &:placeholder-shown ~ label,
    &:focus ~ label {
      transform: scale(0.75) translate(-5px, -35px);
      background-color: var(--color-background);
    }
  }

  &.error {
    input {
      caret-color: var(--color-error) !important;
      &::placeholder {
        color: var(--color-error-secondary) !important;
      }
    }

    // input::placeholder,
    .length-indicator,
    label {
      color: var(--color-error) !important;
      font-weight: 300;
    }

    input,
    .input-border,
    input:focus ~ .input-border {
      border-color: var(--color-error) !important;
    }
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
    border-radius: 12px;
  }

  &.not-empty label {
    transform: scale(0.75) translate(-5px, -35px);
    background-color: var(--color-background);
  }

  .input-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 12px;
    border: 2px solid var(--color-primary);
    pointer-events: none;
    transition: opacity 0.2s ease-out;
  }

  label {
    position: absolute;
    left: 20px;
    top: 15px;
    transform-origin: left center;
    padding: 0px 5px;
    scale: 1;
    color: var(--color-placeholder);
    pointer-events: none;
    transition:
      transform 0.2s ease-out,
      color 0.2s ease-out;
    white-space: nowrap;
  }

  .length-indicator {
    position: absolute;
    right: 20px;
    top: -8px;
    transform-origin: left center;
    padding: 0px 5px;
    font-size: 14px;
    color: var(--color-placeholder);
    background-color: var(--color-background);
  }
  .input-value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
  }
  &.end-icon,
  &.start-icon {
    .Transition,
    .Icon {
      left: auto;
      width: 24px;
      height: 24px;
      top: 25%;
      position: absolute;
      font-size: 16px;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    .Transition > .Icon {
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
    }
  }

  &.end-icon {
    input {
      padding: 0 40px 0 20px;
    }
    .Icon,
    .Transition {
      right: 20px;
    }
  }

  &.start-icon {
    input {
      padding: 0 40px 0 50px;
    }
    .Icon,
    .Transition {
      left: 20px;
    }
  }
}
