.list-item-container {
  width: 100%;
}
.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding-inline: 10px;
  padding-block: 10px;
  cursor: pointer;
  min-height: 52px;

  // @include withAnimations {
  // transition: opacity 0.2s ease;
  // }
  &.clickable {
    &:hover {
      background-color: var(--c-ripple);
    }
  }

  &.focused {
    background-color: var(--c-ripple);
  }
  &.selectable {
    // .Avatar {
    //   margin-left: 30px;
    // }
    // padding-inline: 40px;

    // gap: 30px;
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    // @include withAnimations {
    //   transition: opacity 0.2s ease;
    // }
  }

  &.danger {
    --c-ripple: var(--c-danger-transparent);
    > .Icon {
      path {
        fill: var(--c-danger);
      }
    }
    color: var(--c-danger);
    font-weight: 500;
    &:hover {
      background-color: var(--c-danger-transparent);
    }
  }

  &.wrap {
    .list-item__subtitle,
    .list-item__title {
      // @include defaultTransition(color);
      // width: 85%;
      white-space: wrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
    .list-item__subtitle {
      line-height: 1.2;
    }
  }

  > .Icon,
  > .Checkbox {
    /* REWRITE IT */
    margin: 0px 30px 0px 10px;
    padding: 0;
  }
  > .Checkbox {
    height: 24px;
    min-height: max-content;
    width: max-content;
  }
  &__info {
    flex: 1;
    padding-inline-end: 15px;
    overflow: hidden;
  }

  .Avatar {
    margin-right: 10px;
  }
  &__subtitle,
  &__additional,
  &__right {
    color: var(--c-font-secondary);
  }

  &__subtitle,
  &__title {
    // @include defaultTransition(color);

    // width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__title {
    // width: 90%;
    // font-weight: 500;
  }
  &__subtitle {
    font-size: 14px;
  }

  &__additional {
    font-size: 12px;
  }
  // &__right {
  //   margin-inline-end: 20px;
  // }

  .badge {
    // background-color: var(--c-green);
    background-color: var(--c-primary);
    border-radius: 50%;
    padding-inline: 5px;
    padding-block: 5px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    // font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__right {
    margin-inline: 10px;
  }

  &__context-menu {
  }
}
