.loader-container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 54px !important; // confused in production
  height: 54px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;

  @include withAnimations {
    > .loader-circular,
    > .loader-download,
    > .loader-cancel {
      transition: opacity 0.2s ease;
    }
  }
  &.with-bg {
    background-color: #0000004d;
  }

  > .loader-circular {
    border: 2.5px solid #fff;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    height: 95%;
    width: 95% !important;
    // display: inline-block;
    box-sizing: border-box;

    animation: rotation 1.3s linear infinite;
  }

  &.loading {
    &.cancelable {
      > .loader-cancel {
        opacity: 1;
      }
      > .loader-circular {
        height: 95% !important;
        width: 95% !important;
      }
    }
    &:not(.cancelable) {
      pointer-events: none;
    }
    > .loader-circular {
      opacity: 1;
    }
  }
  &.pending {
    &:not(.loading) {
      > .loader-download {
        opacity: 1;
      }
    }
  }
  > .loader-circular,
  > .loader-download,
  > .loader-cancel {
    width: 1.5rem;
    position: absolute;
    inset: 0;
    opacity: 0;
    margin: auto;
  }

  > .Icon path {
    fill: var(--c-white);
  }

  &.small {
    width: 32px !important;
    height: 32px !important;
    > .loader-circular,
    > .loader-download,
    > .loader-cancel {
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
