.PasswordInput {
  &.input-container {
    &:hover {
      .Icon path {
        fill: var(--c-icon) !important;
      }
    }
    > input:focus {
      ~ .Icon path {
        fill: var(--c-icon) !important;
      }
    }
  }

  &:not(.loading) .Icon {
    animation: none !important;
  }
  input[type='password'] {
    font: small-caption;
    font-size: 30px;
  }

  &:not(:has(input:disabled)) {
    .Icon-eyeOpen,
    .Icon-eyeClose {
      cursor: pointer;
      pointer-events: all !important;
    }
  }
}
