.SearchInput {
  --input-search-radius: calc(var(--input-border-radius) + 10px);
  .Icon {
    path {
      fill: var(--color-placeholder);
    }
  }
  input {
    border-radius: var(--input-search-radius);
    border-color: var(--c-border-input) !important;
    // border: none;
    // background-color: var(--color-gray);
    @include whenNight {
      background-color: var(--c-bg);
    }
    padding: 0 40px;
    height: 43px;
    // border: none;

    &::placeholder {
      font-weight: 300;
      color: #9b9b9b;
    }
    &:hover {
      border-color: var(--c-border-hover-input) !important;
      ~ label,
      &::placeholder,
      ~ .length-indicator {
        color: var(--color-placeholder);
      }
      ~ .Icon {
        path {
          fill: var(--color-placeholder);
        }
      }
    }

    &:focus {
      // background-color: var(--color-background);
      &::placeholder,
      ~ label,
      ~ .length-indicator {
        color: var(--color-placeholder);
      }

      ~ .Icon {
        path {
          fill: var(--c-primary) !important;
        }
      }
    }
  }
  .input-border {
    border-radius: var(--input-search-radius);
  }
}
