.spinner {
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
  &-inner {
    width: 48px;
    height: 48px;
    border: 3px solid var(--c-primary);
    border-bottom-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;

    animation: rotation 1s linear infinite;
  }
  &.zoomOnce {
    animation: show-icon 0.3s ease-out;
  }
  &.absoluted {
    > .spinner-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  &-medium {
    > .spinner-inner {
      width: 34px;
      height: 34px;
    }
  }
  &-large {
    > .spinner-inner {
      width: 48px;
      height: 48px;
    }
  }
  &-small {
    > .spinner-inner {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }
  }

  &-primary {
    > .spinner-inner {
      border-color: var(--c-primary);
    }
  }
  &-yellow {
    > .spinner-inner {
      border-color: var(--color-warn);
    }
  }
  &-neutral {
    > .spinner-inner {
      border-color: var(--color-neutral-secondary);
    }
  }
  &-white {
    > .spinner-inner {
      border-color: white;
      border-width: 2px;
    }
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
